In [1]:
#예제 1-5
print('파이썬', '데이터분석입문', 'PlaywithData', '데이터수집')

파이썬 데이터분석입문 PlaywithData 데이터수집

In [2]:
#예제 1-6
print('귤', '사과', '배', sep='/')

귤/사과/배

In [3]:
#예제 1-7
print('1번','2번','3번','4번','5번','6번','7번','8번','9번','10번')

class_2_1 = ['1번','2번','3번','4번','5번','6번','7번','8번','9번','10번']
print(class_2_1)

1번 2번 3번 4번 5번 6번 7번 8번 9번 10번
['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번', '9번', '10번']

In [4]:
#예제 1-8
k = ['a', 'b', 'c', 'd', 'e']
#index 0   1    2    3    4
#index -5 -4   -3   -2   -1
print(k[1])

b

In [5]:
#예제 1-9
k = ['a','b','c','d','e']
#index 0   1    2    3    4
#index -5 -4   -3   -2   -1
print(k[1:3])
print(k[-4:-2])

['b', 'c']
['b', 'c']

In [6]:
#예제 1-10
#A + B
l1 = ['a']
l2 = ['b','c','e']
print(l1+l2)
print(l2+l1)

['a', 'b', 'c', 'e']
['b', 'c', 'e', 'a']

In [7]:
#예제 1-11
l1 = ['a']
l2 = ['b','c','e']
l1.append(l2)
print(l1)

['a', ['b', 'c', 'e']]

In [8]:
#예제 1-12
fruits = ['바나나','사과','딸기','배','감']
for fruit in fruits:
    print(fruit)

바나나
사과
딸기
배
감

In [9]:
#예제 1-13
s = '문자'
print(s)

문자

In [10]:
#예제 1-14
a = '사과'
b = '망고, 파인애플'
ab = a+b
print(ab)

사과망고, 파인애플

In [11]:
#예제 1-15
z = '*'
print(z *10)

**********

In [12]:
#예제 1-16
month = '2월'
day = '20일'
say = "{} {}은 일요일입니다".format(month,day)
print(say)

2월 20일은 일요일입니다

In [13]:
#예제 1-17
k  =  "가나다라마바"
#index 0 1 2 3 4 5
print(k[2])
print(k[-1])
print(k[2:5])
print(k[3:])

다
바
다라마
라마바

In [14]:
#예제 1-18
t1 = "   hp010-0000-0000   "
print(t1)
t2 = t1.strip()
print(t2)
t3 = t2.replace('hp','')
print(t3)
t4 = t3.split('-')
print(t4)

   hp010-0000-0000
hp010-0000-0000
010-0000-0000
['010', '0000', '0000']

In [15]:
#예제 1-19
price = 5000
if price > 3000:
    print('비싸다')
else:
    print('저렴하다')

비싸다

In [16]:
#예제 1-20
def say_name(name):
    print('안녕하세요')
    print('제 이름은 '+ name + ' 입니다')
    
say_name('홍길동')

안녕하세요
제 이름은 홍길동 입니다

In [17]:
#예제 1-21
def calcul(a, b):
    result = a ** b
    return result

test = calcul(10, 3)
print(test)

1000